html, body {
    margin: 0;
}

body {
    color: #eee;
    background-color: #1f1f1f;
    font-family: Helvetica, arial, sans-serif;
}

#game-canvas {
    border: 1px solid gray;
    box-shadow: rgb(0, 0, 0, 0.75) 0 0 15px;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.header {
    margin: 20px 6px 10px 6px;
    position: relative;
}

.header .title {
    font-weight: bold;
    text-decoration: underline;
    font-size: 24px;
}

.header .author {
    font-size: 10px; 
    position: absolute;
    right: 0;
    bottom: 0;
}
